<a href="https://colab.research.google.com/github/CDeGrazia/CDeGrazia.github.io/blob/main/GD4_Copy_of_COP1000_Graded_Notebook_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Graded Notebook 4
* **Possible 155 points out of 100.**

* Your name here: Colin DeGrazia
* The shared link to this notebook here: 
https://colab.research.google.com/drive/1ypJB9iomI8iUOH-q-FLjMlRPncvGuz4t?usp=sharing

## **Task 1** (60 points possible)
*  use the random module to generate a random number, prompt the user for a guess at the number until the user guesses the number. When the guess is too high, let the user know, when too low let them know, and when they guess it let them know it was correct and in how many guesses.

    * Comments and code organization are expected to adhere to the requirements discussed in the course. **10 pts**
    *  While loop funtions as expected **10 pts**
    *  random number generated as expected **10**
    *  Outputs meet expectations  **20 pts**
    *  Use a main method with a conditional that checks to see if a main method exists **bonus 10 pts**

In [ ]:
# Your code here (Task 1)
import random

def main():
    print("Guess a number between 1 and 100.")
    random_number = random.randint(1, 100)
    num_guesses = 0
    while True:
        num_guesses += 1
        user_guess = int(input("Enter your guess: "))
        if user_guess == random_number:
            print(f"Correct! You guessed the number in {num_guesses} guesses.")
            break
        elif user_guess < random_number:
            print("Too low. Guess again.")
        else:
            print("Too high. Guess again.")

if __name__ == "__main__":
    main()

Guess a number between 1 and 100.
Enter your guess: 50
Too high. Guess again.
Enter your guess: 25
Too high. Guess again.
Enter your guess: 20
Too high. Guess again.
Enter your guess: 15
Too high. Guess again.
Enter your guess: 10
Too high. Guess again.
Enter your guess: 5
Too low. Guess again.
Enter your guess: 6
Correct! You guessed the number in 7 guesses.

## **Task 2** (60 points possible)
* use the Starter code below. diplay the first 20 records in the DataFrame.
* in the cell provided display info about the columns in the dataframe
* in the cell provided remove row # 72 that has an income of 22.93
* in the cell provided remove column 'Married'
* **Bonus points** Reshape the data in the gender column to an integer 1 for Male or 0 Female

    *  first 20 records(rows)  **10 pts**
    *  display info about the columns **10 pts**
    *  Remove row number 72 **10**
    *  Remove the Married column  **10 pts**
    *  Reshape the data in the gender column to an integer 1 for Male or 0 Female**bonus 20 pts**

In [5]:
# Import pandas package
import pandas as pd

# starter code

url= "https://drive.google.com/file/d/1UqAoosxMF5MxhlvAfgxtOhteFiQGpMpe/view?usp=sharing"
url='https://drive.google.com/uc?id=' + url.split('/')[-2]

Credit_df = pd.read_csv(url)

# your code here to display first 20 records(rows) in the dataframe
print(Credit_df.head(20))

     Income  Limit  Rating  Cards  Age  Education  Gender Student Married  \
0    14.891   3606     283      2   34         11    Male      No     Yes
1   106.025   6645     483      3   82         15  Female     Yes     Yes
2   104.593   7075     514      4   71         11    Male      No      No
3   148.924   9504     681      3   36         11  Female      No      No
4    55.882   4897     357      2   68         16    Male      No     Yes
5    80.180   8047     569      4   77         10    Male      No      No
6    20.996   3388     259      2   37         12  Female      No      No
7    71.408   7114     512      2   87          9    Male      No      No
8    15.125   3300     266      5   66         13  Female      No      No
9    71.061   6819     491      3   41         19  Female     Yes     Yes
10   63.095   8117     589      4   30         14    Male      No     Yes
11   15.045   1311     138      3   64         16    Male      No      No
12   80.616   5308     394      1   57          7  Female      No     Yes
13   43.682   6922     511      1   49          9    Male      No     Yes
14   19.144   3291     269      2   75         13  Female      No      No
15   20.089   2525     200      3   57         15  Female      No     Yes
16   53.598   3714     286      3   73         17  Female      No     Yes
17   36.496   4378     339      3   69         15  Female      No     Yes
18   49.570   6384     448      1   28          9  Female      No     Yes
19   42.079   6626     479      2   44          9    Male      No      No

    Balance
0       333
1       903
2       580
3       964
4       331
5      1151
6       203
7       872
8       279
9      1350
10     1407
11        0
12      204
13     1081
14      148
15        0
16        0
17      368
18      891
19     1048

In [6]:
# your code here to display info about the columns in the dataframe
import pandas as pd

# Load data from CSV file
url = "https://drive.google.com/file/d/1UqAoosxMF5MxhlvAfgxtOhteFiQGpMpe/view?usp=sharing"
url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
Credit_df = pd.read_csv(url)

# Display information about the columns in the DataFrame
print(Credit_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Income     400 non-null    float64
 1   Limit      400 non-null    int64
 2   Rating     400 non-null    int64
 3   Cards      400 non-null    int64
 4   Age        400 non-null    int64
 5   Education  400 non-null    int64
 6   Gender     400 non-null    object
 7   Student    400 non-null    object
 8   Married    400 non-null    object
 9   Balance    400 non-null    int64
dtypes: float64(1), int64(6), object(3)
memory usage: 31.4+ KB
None

In [7]:
# Your code here to remove row # 72 that has an income of 22.939
import pandas as pd

# Load data from CSV file
url = "https://drive.google.com/file/d/1UqAoosxMF5MxhlvAfgxtOhteFiQGpMpe/view?usp=sharing"
url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
Credit_df = pd.read_csv(url)

# Remove row # 72 from the DataFrame
Credit_df = Credit_df.drop(index=71)

# Display the first 5 records in the updated DataFrame
print(Credit_df.head())

    Income  Limit  Rating  Cards  Age  Education  Gender Student Married  \
0   14.891   3606     283      2   34         11    Male      No     Yes
1  106.025   6645     483      3   82         15  Female     Yes     Yes
2  104.593   7075     514      4   71         11    Male      No      No
3  148.924   9504     681      3   36         11  Female      No      No
4   55.882   4897     357      2   68         16    Male      No     Yes

   Balance
0      333
1      903
2      580
3      964
4      331

In [10]:
# Your code here to remove column 'Married'
import pandas as pd

# Load data from CSV file
url = "https://drive.google.com/file/d/1UqAoosxMF5MxhlvAfgxtOhteFiQGpMpe/view?usp=sharing"
url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
Credit_df = pd.read_csv(url)

# Remove the 'Married' column from the DataFrame
Credit_df = Credit_df.drop('Married', axis=1)

# Display the first 5 records in the updated DataFrame
print(Credit_df.head())

    Income  Limit  Rating  Cards  Age  Education  Gender Student  Balance
0   14.891   3606     283      2   34         11    Male      No      333
1  106.025   6645     483      3   82         15  Female     Yes      903
2  104.593   7075     514      4   71         11    Male      No      580
3  148.924   9504     681      3   36         11  Female      No      964
4   55.882   4897     357      2   68         16    Male      No      331

In [11]:
# Bonus points Reshape the data in the gender column to an integer 1 for Male or 0 Female
import pandas as pd

# Load data from CSV file
url = "https://drive.google.com/file/d/1UqAoosxMF5MxhlvAfgxtOhteFiQGpMpe/view?usp=sharing"
url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
Credit_df = pd.read_csv(url)

# Reshape the data in the 'Gender' column to 1 for Male or 0 for Female
Credit_df['Gender'] = Credit_df['Gender'].apply(lambda x: 1 if x == 'Male' else 0)

# Display the first 5 records in the updated DataFrame
print(Credit_df.head())

    Income  Limit  Rating  Cards  Age  Education  Gender Student Married  \
0   14.891   3606     283      2   34         11       1      No     Yes
1  106.025   6645     483      3   82         15       0     Yes     Yes
2  104.593   7075     514      4   71         11       1      No      No
3  148.924   9504     681      3   36         11       0      No      No
4   55.882   4897     357      2   68         16       1      No     Yes

   Balance
0      333
1      903
2      580
3      964
4      331

## **Task 3** (35 possible)
* Use the time.perf_counter or timeit module to track the performance of the  loop in the code block provided below.
* **Bonus points** perform same task as above using cProfile and clear output of each displayed line before a new print() is called.

    *  performance measured  **10 pts**
    *  use cProfile to performe the same task above 20000 times in the code block provided**bonus 20 pts**
    * clear each output line when the next line is displayed. **bonus 5 pts**

In [1]:
import time

start_time = time.perf_counter()

# Code block to measure performance
for i in range(100000):
    pass

end_time = time.perf_counter()

print(f"Execution time: {end_time - start_time:.5f} seconds")

Execution time: 0.01306 seconds

In [9]:
# use cProfile to performe the same task above 20000 times
import cProfile
from IPython.display import clear_output
import cProfile

def loop(n):
    for i in range(n):
        pass

cProfile.run('loop(20000)', filename='profiling_data.txt')